@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  
}

* {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.timeline-dot {
  box-shadow: 0 0 15px #3b82f6, 0 0 20px rgba(59, 130, 246, 0.5);
}

.education-card {
  box-shadow: 0 0 10px #245fbf, 0 0 20px rgba(16, 93, 216, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.education-card::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(var(--angle), #3b82f6, #60a5fa, #93c5fd);
  z-index: -1;
  border-radius: 1.5rem;
  animation: rotate 3s linear infinite, glow 2s ease-in-out infinite alternate;
}

.education-card::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: white;
  border-radius: 14px;
  z-index: -1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.3);
  }
  to {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
